<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Quantified{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets 'assets/css/bulma.min.css' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    {% block header %}
        <header class="hero is-primary">
            <div class="hero-head">
                <div>&nbsp;</div>
            </div>
            <div class="hero-body">
                <a href="{{ path('core_homepage') }}">
                    <div class="container">
                        {% image 'assets/img/quantified-white.png' %}
                        <img src="{{ asset_url }}" width="75" class="is-pulled-left"/><br />
                        <h1 class="title">uantified.</h1>
                        {% endimage %}
                        <h2 class="subtitle">Quantified Self aggregation WebApp</h2>
                    </div>
                </a>
            </div>
            <div class="hero-foot">
                <nav class="nav">
                    <div class="nav-right nav-menu">
                        <a class="nav-item" href="{{ path('core_homepage') }}">Accueil</a>
                        <a class="nav-item" href="{{ path('login') }}">Connexion</a>
                    </div>
                </nav>
            </div>
        </header>
    {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
